.form-section-bg{
    padding: 2rem;
    width: 100vw;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.form-main-div{
    padding: 1rem 2rem;
    width:25vw;
    min-width: 25vw;
    border:2px solid grey;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap:1rem;
}

.actions-btn-div{
    display: flex;
    align-items: center;
    gap:1rem;
}

.submit-btn, .back-btn{
    padding: 0.5rem 0;
    font-weight: 700;
    width: 50%;
    font-size: medium;
    text-align: center;
    color: #f5f5f5;
    border: 2px solid grey;
    background-color: rgb(8, 85, 85);
    cursor: pointer;
    letter-spacing: 1px;
    border-radius: 10px;
    transform: scale(1);
    transition: all 0.2s ease-in-out;
}

.back-btn{
    color:rgb(8, 85, 85);
    background-color: transparent;
}

:is(.submit-btn, .back-btn):active{
    transform: scale(0.9);
}